.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: hsl(183, 97%, 23%);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
        background-color: hsl(185, 41%, 84%);
        color: hsl(183, 97%, 23%);
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
    }

    &:active {
        background-color: hsl(185, 41%, 84%);
        color: hsl(183, 97%, 23%);
    }

    &:focus {
        background-color: hsl(185, 41%, 84%);
        color: hsl(183, 97%, 23%);
    }
}